# Archivos de configuración específicos del entorno de JetBrains
workspace.xml
junitvmwatcher*.properties
build.properties

# Clases y archivos fuente generados automáticamente por MPS
# Agrega manualmente cualquier artefacto personalizado que no se pueda generar a partir de los modelos
classes_gen/
source_gen/
source_gen.caches/

# Código de prueba generado y resultados de las pruebas
test_gen/
test_gen.caches/
TEST-*.xml
junit*.properties

# Directorios temporales o de caché
.idea/
out/
